.user-block{
  &__image{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 15px;

    img{
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
    }
  }
}