﻿@charset "utf-8";

/*-- __Reset
------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, .nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, .nav, section { display: block; }
strong{ font-weight: bold; }
em{ font-style: italic; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img{ border: none; -ms-interpolation-mode: bicubic; }
textarea { overflow: auto; resize: vertical; }
button { width: auto; overflow: visible; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }
input:focus{ outline: none; }
label[for]{cursor:pointer}
abbr { font-size: 0.85em; letter-spacing: 0.2em; }
strong { font-weight: 700; }
::-webkit-input-placeholder { color: rgba(70,68,68,.5); }
:-moz-placeholder { color: rgba(70,68,68,.5);}
::-moz-placeholder { color:rgba(70,68,68,.5);}
:-ms-input-placeholder { color: rgba(70,68,68,.5);}

*, *:before, *:after {
   -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
		   box-sizing: border-box;
}

 ::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
}

/*helpers--------------------*/

.inline-block { display: inline-block; vertical-align: middle; }

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.half { width: 50%;}
.p-right30 {  padding-right: 30px; }
.text-12 { font-size: 12px; }

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.help-valign { display: inline-block; vertical-align: middle;height: 100%; }


/*/helpers--------------------*/

html, body {
	height: 100%;
	color: #464444;
	min-width: 800px;
	background: #f2f3f4;
}

* {
		/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a  { color: #217bbc; text-decoration: none; cursor: pointer;  }
a:hover  { text-decoration: none; color: #03a9f4; }
big { font-size: 24px;font-weight: 400; line-height: 29px; }



.fake-file   { position: relative; cursor: pointer; display: inline-block; }
.fake-file input  { opacity: 0; cursor: pointer; position: absolute; width: 100%; height: 100%; left: 0; top: 0;}


 .search { border-top: 1px solid #d2d6d9; border-bottom: 1px solid #d2d6d9; margin-bottom: 10px; position: relative; }
 .search  .icn-search { color: #fff; 	text-shadow: 1px 0 0 #035aa9, 0 1px 0 #035aa9, -1px 0 0 #035aa9, 0 -1px 0 #035aa9; position: Absolute; left:5px; font-size: 20px; top: 50%; height: 50px; margin-top: -25px; line-height: 50px; }
 .search  .icn-search:before{  line-height: 40px; }
 .search input  { border: none; font: normal 14px/1.4  "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; padding: 8px 0; width: 100%; padding-left: 40px; }

 .search-results { }
 .search-results .tool { overflow: hidden; margin-bottom: -30px; margin-top: 15px;}
 .search-results .tool  .sort { font-size: 25px; display: inline-block; width: 100px; text-align: center; cursor: pointer; }

 .search-group {border-top: 1px solid #f1f1f1; position: relative; margin-top: 36px; }
 .search-group  + .search-group { margin-top:55px; }
 .letter { width: 48px; height: 36px; background: #f68120; color: #fff; line-height: 36px; text-align: center;  position: absolute; left: 0 ; top: -36px; }
 .search-item { border-bottom: 1px solid #f1f1f1; display: table; width: 100%; }
 .search-item  > div { display: table-cell; padding: 18px 0;  vertical-align: middle;}
 .search-item  > div:first-child  {width: 120px;  vertical-align: top; }
 .search-item  > .map   { width: 100px; }
 .search-item  > .map  strong  { display: block; color :#ccc;  white-space: nowrap; margin-top: -10px;}
 .search-item  > .map  strong + a  {  margin-top: 5px;}
 .search-item  > .map   a:before { display: block; color :#f68120; font-size: 25px;}
 .search-item  > .map   a  { margin-top: -10px; display: inline-block; }
 .search-item  > .personal-info   { padding-left: 25px; vertical-align: top;line-height: 1.6; color: #373737; }
 .search-item  > .personal-info  strong  { display: inline-block; margin-right: 10px;}
 .search-item  > .personal-info   > .position { font-size: 14px;  font-weight: 600; }
 .search-item  > .personal-info   > .department {margin-top: 10px; }
 .search-item  > .personal-info   > .email {margin-top: 5px; }
 .search-item  > .personal-info   > .skype span,
 .search-item  > .personal-info   > .email span { color: #777; }
 .search-item  > div:first-child  span { overflow: hidden; width: 120px; display: inline-block;  text-align: center; line-height: 120px; height: 120px; background: #e9e9e9 }
 .search-item  > div:first-child  span img { display: inline-block; font-size: 0; max-width: 100%; max-height: 100%; line-height: 120px; }

 h1 { font-size: 32px; margin-bottom: 10px; }
 h2 { font-size: 24px; padding-bottom:4px; border-bottom: 1px solid #D2D6D9; }
 h2  .edit-profile-btn{ font-size: 14px; margin-top: 10px; }
 h2  .icn-pencil:before{ font-size: 18px;  display: inline-block; vertical-align:middle; margin-right: 10px; }
 h2  .icn-pencil span{ display: inline-block;  vertical-align:middle }

 .block-title { background:#f1f2f3; text-transform: uppercase; color: #617387;  font-weight: bold; margin:16px 0; padding: 8px 10px;}

 .pagination { overflow: hidden; border-top: 1px solid #d2d6d9; border-bottom: 1px solid #d2d6d9; margin-bottom: 10px; padding: 10px 0;  }
 .pagination ul  {
   display: block;
    li  { display: inline-block;
      & + li  { margin-left: 5px; }
      &:last-child  { line-height: 28px;}
      a { display: inline-block; height: 24px; min-width: 24px; line-height: 24px; text-align:center; color : #000; cursor: pointer }
       /*.pagination ul li  span .item {  display: inline-block; height: 24px; min-width: 24px; text-align:center; border: 1px solid #d2d6d9; color : #000; color : #999; }*/
      a.active { background: #f68120; border-color :#f68120; color :#fff; }

     }
      input  { border: 1px solid #D2D6D9; height: 24px; width: 24px; line-height: 24px; padding: 3px; margin: 3px;}
      }
 .social  { margin-bottom: 15px; }
 .social li { display: block; line-height: 32px;}
 .social li  ul { display: inline-block; vertical-align: middle; margin-left: 10px; }
 .social li  a:before,
 .social li  span:before { display: inline-block; vertical-align: middle; width: 50px;  color: #617387; font-size: 20px;}
 .social li  a { display: inline-block; vertical-align: middle; }
 .social li  span { display: inline-block; vertical-align: middle; }

 /*
 .edit-view ,
 .edit-card .view { display: none;}

 .edit-card  .edit-view ,
 .view { display: block;}


 */

 .edit-view  .field{
   width: 338px;
}
 .edit-view  .search-item { border: none; }
 .bithday  { position: relative; width: 100px; }
 .bithday:before  { position: absolute; right: 0; color: #035aa9; font-size: 20px; z-index: 0; }
 .bithday input[type="text"] {  width: 100px; background: rgba(255,255,255,0); position: relative; z-index: 1; }

 textarea { width: 100%; height: 100px; 	font: normal 14px/1.4  "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; border: 1px solid #DCDCDC; padding: 5px; }

 .action { margin-top: 20px; }


/*btn*/
.btn {
  border-radius: 2px; white-space: nowrap; height: 40px;display: inline-block; vertical-align: middle; border: none;
  font: 600 14px/1.4  "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  cursor: pointer; text-decoration: none; text-align: center;color: #035aa9; padding: 10px 15px; background-color: #fff; outline: none;      font-weight: bold;
  -webkit-transition: background .3s linear;
       -o-transition: background .3s linear;
          transition: background .3s linear;
}

[disabled][class*="icn-"],
[disabled].btn {
    pointer-events: none;
    cursor: default;
    filter: alpha(opacity=65);
    opacity: .65;
}

.btn-primary {
	background: #f68120; color: #fff;
}
.btn-primary:hover {
	background: #ff6600; color: #fff;
}
.btn-primary:focus, .btn-primary:active {
	background: #ff6600;
}

.btn-default {
	background: #fff;  color: #035aa9;
}


.btn + .btn { margin-left: 10px; }
.btn.full { width: 100%; }
/*/btn*/

.link-back{
  margin-bottom:10px;
}




/*fade*/
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {opacity: 1;}
/*/fade*/

/*collapse*/
.collapse {	display: none;}
.collapse.in {display: block;}
tr.collapse.in {	display: table-row;}
tbody.collapse.in {display: table-row-group;}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	   -o-transition-timing-function: ease;
		  transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	   -o-transition-duration: .35s;
		  transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	   -o-transition-property: height, visibility;
		  transition-property: height, visibility;
}
/*/collapse*/



.spinner {  width: 48px;  text-align: center;}
.spinner > div {  width: 12px;  height: 12px;  background-color: #c1b4a9;  border-radius: 100%;  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
 -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



/*tabs*/
.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.tab-pane.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}
.tab-pane.fade.in {
    opacity: 1
}

/*/tabs*/
