.field input[type="text"],
.field input[type="password"],
.login-form input[type="text"],
.login-form input[type="password"]{
  padding: 3px 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #DCDCDC;

  &:focus{
    border-color:rgba(3,90,169,.5);
  }
}
.control .field{
  display: inline-block;
  vertical-align: middle;
}
.control__label{
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  font-weight: bold;

}
.field {
  position: relative;
  margin-bottom: 10px;
  a,
  strong,
  input[type="text"]  {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
   }
  strong {
    width: 140px;
  }
  & + .block-title { margin-top: 20px;}
  .icn-map-marker:before{  display: inline-block; vertical-align: middle;  color: #f68120;  font-size: 25px; margin-right: 5px;}
  .icn-map-marker  u{  display: inline-block; vertical-align: middle; }
}

.error:before{
  position: absolute;
  top:4px;
  right: 0;
  content: "●";
  color:red;
}
.error input[type="text"]{
  border-color:red;
}
.validation-msg{
  display: block;
  z-index: 2;
  position: relative;
  top:16px;
  margin-top: -18px;
  font-size:12px;
  color:red;
}
