
@font-face {
	font-family: 'fls';
	src:url('/static/css/fonts/fls/fls.eot?79rab2');
	src:url('/static/css/fonts/fls/fls.eot?79rab2#iefix') format('embedded-opentype'),
		url('/static/css/fonts/fls/fls.ttf?79rab2') format('truetype'),
		url('/static/css/fonts/fls/fls.woff?79rab2') format('woff'),
		url('/static/css/fonts/fls/fls.svg?79rab2#fls') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icn-"]:before, [class*=" icn-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts/fls/fls */
	font-family: 'fls' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.aside .toggle:before {
    /* use !important to prevent issues with browser extensions that change fonts/fls/fls */
	font-family: 'fls' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icn-cog:before {
	content: "\f013";
}
.icn-gear:before {
	content: "\f013";
}
.icn-cross:before {
	content: "\e117";
}
.icn-camera:before {
	content: "\f030";
}
.icn-pencil:before {
	content: "\e903";
}
.icn-google:before {
	content: "\e905";
}
.icn-search:before {
	content: "\f002";
}
.icn-user:before {
	content: "\f007";
}
.icn-map-marker:before {
	content: "\f041";
}
.icn-calendar:before {
	content: "\f073";
}
.icn-twitter:before {
	content: "\f099";
}
.icn-facebook:before {
	content: "\f09a";
}
.icn-briefcase:before {
	content: "\f0b1";
}
.icn-google-plus:before {
	content: "\f0d5";
}
.icn-linkedin:before {
	content: "\f0e1";
}
.icn-angle-double-left:before {
	content: "\f100";
}
.icn-angle-double-right:before {
	content: "\f101";
}

.aside .toggle:before {
	content: "\f105";
}
.aside.open .toggle:before {
	content: "\f104";
}

.icn-angle-left:before {
	content: "\f104";
}



.icn-angle-right:before {
	content: "\f105";
}
.icn-info:before {
	content: "\f129";
}
.icn-sort-amount-asc:before {
	content: "\f160";
}
.icn-sort-amount-desc:before {
	content: "\f161";
}
.icn-instagram:before {
	content: "\f16d";
}
.icn-skype:before {
	content: "\f17e";
}
.icn-vk:before {
	content: "\f189";
}


