body {
	height: 100%;
	background: #F2F3F4;
	font: normal 14px/1.4  "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #4a4a4a;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	min-height: 600px;
}
#content,
.page-wrapper{
  height: 100%;
}
.wrapper {
  display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
  width:100%;
  min-height: 100%;
  padding-bottom: 50px;
}
.footer { height: 50px; margin-top: -50px; text-align: center; line-height: 50px;  }

.content  {
  flex-grow:1;
  width:100%;
  padding: 20px 35px;
  background: #fff;
 }
 .content-sup{
   display: none;
   width: 266px;
 }


 @media only screen and (min-width: 1200px) {
   .content{
     width: calc(100% - 266px);
   }
   .content-sup{
     display: block;;
   }
 }
