.login-page,
.login-page body{
  background: #fff;
}
.login-wrapper {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  margin: auto;
  width:450px;
  height: 450px;
  text-align: center;
}
.login-logo{
  display: inline-block;
  background: url("../../public/static/Content/images/fls-logo-color.svg") no-repeat  0 0;
  margin-bottom:2em;
  height: 58px;
  width:225px;
}
.login-form{
  padding:3em;
  border:1px solid #C8C8C8;
  border-radius: 15px;
}
.login-form input {
  width: 100%;
  margin-bottom: 1.5em;
}
.login-form h3{
  margin-bottom: 1.5em;
  font-size: 20px;
}
.login-form .btn{
  margin-top: 1.5em;
  width: 120px;
}
